<mat-dialog-content class="mat-typography">
    <div [class.show]="isEditMode" class="container">
        <div class="rows">
            <h4>Informations :</h4>
            <div class="col-12">
                Nom : {{peopleData.lastname}}
            </div>
            <div class="col-12">
                Prénom : {{peopleData.firstname}}
            </div>
            <div class="col-12">
                Genre : {{peopleData.gender}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="rows">
            <h4> Contact : </h4>
            <div class="col-12">
                Email : {{peopleData.contact.email}}
            </div>
            <div class="col-12">
                Tel : {{peopleData.contact.phone}}
            </div>
            <div class="col-12">
                Adresse : {{peopleData.contact.address}}, {{peopleData.contact.city}}, {{peopleData.contact.country}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="rows">
            <h4> Préférences : </h4>
            <div class="col-12">
                Couleur : {{peopleData.preferences.favorite_color}}
            </div>
            <div class="col-12">
                Fruit : {{peopleData.preferences.favorite_fruit}}
            </div>
            <div class="col-12">
                Film : {{peopleData.preferences.favorite_movie}}
            </div>
            <div class="col-12">
                Animal : {{peopleData.preferences.favorite_pet}}
            </div>
        </div>
        <div #map style="width:100%;height:400px"></div>
    </div>
    <div *ngIf="isEditMode" class="container">
        <div class="rows">
            <h4>Informations :</h4>
            <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Nom :</mat-label>
                    <input placeholder="Nom" matInput type="text" [(ngModel)]="peopleData.lastname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Prénom :</mat-label>
                    <input placeholder="Prénom" matInput type="text" [(ngModel)]="peopleData.firstname">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label>Genre :</mat-label>
                    <mat-select [(ngModel)]="peopleData.gender">
                        <mat-option value="Female">Femme</mat-option>
                        <mat-option value="Male">Homme</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="rows">
            <h4> Contact : </h4>
            <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label> Email :</mat-label>
                    <input placeholder="Email" matInput type="text" [(ngModel)]="peopleData.contact.email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Tel</mat-label>
                    <input placeholder="Tel :" matInput type="phone" [(ngModel)]="peopleData.contact.phone">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Adresse :</mat-label>
                    <input placeholder="Adresse" matInput type="text" [(ngModel)]="peopleData.contact.address">
                </mat-form-field>
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Ville :</mat-label>
                    <input placeholder="Ville" matInput type="text" [(ngModel)]="peopleData.contact.city">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Pays :</mat-label>
                    <input placeholder="Pays" matInput type="text" [(ngModel)]="peopleData.contact.country">
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="rows">
            <h4> Préférences : </h4>
            <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Couleur :</mat-label>
                    <input placeholder="Couleur" matInput type="text" [(ngModel)]="peopleData.preferences.favorite_color">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Fruit :</mat-label>
                    <input placeholder="Fruit" matInput type="text" [(ngModel)]="peopleData.preferences.favorite_fruit">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Film :</mat-label>
                    <input placeholder="Film" matInput type="text" [(ngModel)]="peopleData.preferences.favorite_movie">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Animal :</mat-label>
                    <input placeholder="Animal" matInput type="text" [(ngModel)]="peopleData.preferences.favorite_pet">
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-stroked-button>Quitter</button>
    <button style="color: #3f6ad8;" mat-stroked-button mat-button *ngIf="!isEditMode" (click)="changeToEditMode(false)">Modifier</button>
    <button style="color: #3f6ad8;" mat-button *ngIf="isEditMode" mat-stroked-button (click)="changeToEditMode(true)" [mat-dialog-close]="people" cdkFocusInitial>Appliquer</button>
</mat-dialog-actions>