table {
    width: 100%;
    th {
        cursor: pointer;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.row {
    margin-top: 25px;
    .col-sm-3 {
        background-color: #fff;
        height: 680px;
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    }
}

.btn-see {
    background-color: rgb(248, 245, 245);
    box-shadow: -6px -6px 8px rgb(255 255 255 / 90%), 5px 5px 8px rgb(0 0 0 / 7%);
}

.description {
    color: #3f6ad8;
    margin: 15px;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}

button {
    width: 100%;
    background-color: #3f6ad8;
    color: #fff;
    height: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: -6px -6px 8px rgb(255 255 255 / 90%), 5px 5px 8px rgb(0 0 0 / 7%);
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}