<div class="row">
    <div class="col-12 col-sm-3">
        <div class="inline">
            <div class="description">
                <mat-icon>sort_rounded</mat-icon> Filtres :
            </div>
            <div *ngIf="filterGender || filterCountry || filterColor || filterFruit || filterPet">
                <button (click)="resetFilter()">Rénitialiser les filtres</button>
            </div>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Recherche</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nom, prénom" #input>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Genre :</mat-label>
            <mat-select [(ngModel)]="filterGender" (ngModelChange)="filteredChange()">
                <mat-option value="Female">Femme</mat-option>
                <mat-option value="Male">Homme</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Pays :</mat-label>
            <mat-select [(ngModel)]="filterCountry" (ngModelChange)="filteredChange()">
                <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf="filterCountry">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Villes :</mat-label>
                <mat-select [(ngModel)]="filterCity" (ngModelChange)="filteredChange()">
                    <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Couleur préférée :</mat-label>
            <mat-select [(ngModel)]="filterColor" (ngModelChange)="filteredChange()">
                <mat-option value="Orange">Orange</mat-option>
                <mat-option value="Blue">Bleu</mat-option>
                <mat-option value="Green">Vert</mat-option>
                <mat-option value="Purple">Mauve</mat-option>
                <mat-option value="Yellow">Jaune</mat-option>
                <mat-option value="Red">Rouge</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fruits préférés :</mat-label>
            <mat-select [(ngModel)]="filterFruit" (ngModelChange)="filteredChange()">
                <mat-option *ngFor="let fruit of fruitList" [value]="fruit">{{fruit}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Animaux préférés :</mat-label>
            <mat-select [(ngModel)]="filterPet" (ngModelChange)="filteredChange()">
                <mat-option *ngFor="let pet of petList" [value]="pet">{{pet}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button (click)="exportToJson()">Exporter les données</button>
        <mat-paginator [pageSizeOptions]="[15, 35, 50, 100]"></mat-paginator>
    </div>
    <div class="col-9">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <!-- <a mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </a> -->
                    <a mat-icon-button class="btn-see">
                        <mat-icon (click)="openDialog(row)">visibility</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucune personne ne correspond à la recherche</td>
            </tr>
        </table>
    </div>
</div>