<mat-dialog-content class="mat-typography">
    <div class="container">
        {{peopleData | json}}
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-stroked-button>Quitter</button>
    <a mat-button class="btn-custom" (click)="dynamicDownloadJson()">Téléchargement</a>
</mat-dialog-actions>