nav {
    background-color: #fff !important;
    a {
        color: #3f6ad8 !important;
        text-transform: uppercase;
    }
    .nav-link {
        display: flex;
        align-items: flex-end;
        margin-inline: 15px;
        mat-icon {
            margin-right: 5px;
        }
    }
    box-shadow: -6px -6px 8px rgb(255 255 255 / 90%),
    5px 5px 8px rgb(0 0 0 / 7%);
    .navbar-toggler {
        background-color: #3f6ad8;
    }
}