<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class=" navbar-brand" [routerLink]="['/home']" style="font-weight: 700;">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
                    <mat-icon>home_rounded</mat-icon> Home
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/charts']" routerLinkActive="router-link-active">
                    <mat-icon>query_stats</mat-icon>Stats
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/maps']" routerLinkActive="router-link-active">
                    <mat-icon>explore</mat-icon>Carte
                </a>
            </li>
        </ul>
    </div>
</nav>