h2 {
    margin-top: 25px;
    color: #3f6ad8;
}

.container {
    margin-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}