<app-nav></app-nav>
<div class="container">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="Statistique Homme-Femme">
            <ng-container *ngIf="statGender[0].data.length">
                <h2>Statistique Homme-Femme</h2>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartType" [datasets]="statGender" [labels]="statGenderLabel" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Statistique des pays">
            <ng-container *ngIf="statCountries[0].data.length">
                <h2>Statistique des pays</h2>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartType" [datasets]="statCountries" [labels]="statCountriesLabel" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Statistique des fruits favoris">
            <ng-container *ngIf="statFruits[0].data.length">
                <h2>Statistique des fruits favoris</h2>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartType" [datasets]="statFruits" [labels]="statFruitsLabel" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Statistique des couleurs favorites">
            <ng-container *ngIf="statColors[0].data.length">
                <h2>Statistique des couleurs favorites</h2>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartType" [datasets]="statColors" [labels]="statColorsLabel" [colors]="chartColorsCustom" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Statistique des animaux favoris">
            <ng-container *ngIf="statColors[0].data.length">
                <h2>Statistique des animaux favoris</h2>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartBatonType" [datasets]="statPets" [labels]="statPetsLabel" [colors]="chartColors" [options]="chartOptions" [legend]="false" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>