agm-map {
    height: 700px;
    padding-bottom: 20px;
}

.container {
    background-color: #fff;
    padding-bottom: 25px;
    margin-top: 10px;
}

h2 {
    padding-top: 25px;
    color: #3f6ad8;
}
