<app-nav></app-nav>
<div class="container">
    <h2>Répartition des membres à travers le monde</h2>
    <agm-map [latitude]="lat" [longitude]="lng">
        <ng-container *ngFor="let people of peoples">
            <agm-marker [latitude]="people.contact.location.lat" [longitude]="people.contact.location.lon"
                [label]="people.firstname + ' ' + people.lastname">
            </agm-marker>
        </ng-container>
    </agm-map>
</div>